

        <!-- TinyMCE CDN -->
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

        <script>
          tinymce.init({
            selector: 'textarea#editor',
          });
        </script>

<form asp-action="Index" method="get">
<textarea name="Eidtor" id="editor"></textarea>
<input type="submit"/>
</form>

<div>
    @Html.Raw(TempData["View"])
    
</div>
