@model CoreTechStatic.Models.Specification


<form method="post" asp-action="SpecificationEdit" asp-controller="Admin">
    <div class="row">
        <input asp-for="S_Id" hidden />
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type1" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type2" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type3" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type4" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type5" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type6" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type7" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type8" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type9" class="form-control" />
        </div>
        <div class="col-md-4 form-group">
            <label>Name</label>
            <input asp-for="S_type10" class="form-control" />
        </div>       
        <div class="form-group text-center m-2">
        <input class="btn btn-sm btn-primary" type="submit" />
        </div>
    </div>
</form>