@model CoreTechStatic.Models.User;
@{
    
}


<div class="container">
    <div class="col-md-4 mt-3 m-auto card p-3  shadow-lg mb-3 rounded border-0">
        <h4 class="text-center">Reset Password</h4>
        <form asp-controller="User" asp-action="ResetPassword" method="post" class="">
            <div class="form-group">
                <input type="text" hidden asp-for="User_Id" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" id="txtPassword" required class="form-control" autocomplete="off" name="Password" />
            </div>
            <div class="form-group">
                <label>Re-enter Password</label>
                <input type="text" required id="txtConfirmPassword" class="form-control" autocomplete="off" name="Password" />
            </div>
            <div class="form-group text-center m-1">
                <span class="text-danger" id="errorMessage"></span>
            </div>
            <div class="form-group text-center m-3">
                <input type="button" id="btnPassCheck" class="btn btn-primary" value="ReSet" />
                <input type="submit" id="btnPassClick" hidden class="btn btn-primary" value="ReSet" />

            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $("#btnPassCheck").click(function () {
        var password = $("#txtPassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();
        if (password != confirmPassword) {
            $("#errorMessage").html("Password Does't Match");
        }
        else if (password == confirmPassword) {
            $("#btnPassClick").click();
            return true;
        }
    });
</script>