<h5 class="text-center text-danger m-4"><b>Access Denied</b></h5>

<div class="container alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <div>
       You dont have permission to view the resource
    </div>
</div>