<style>
    .iframe-rwd {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

        .iframe-rwd iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>
<div class="card rounded-0  mb-3" style="background-color:#1d3557;opacity:0.8">
    <div class="m-3">
        <h1 class="text-white text-center">Contact Us</h1>
    </div>
</div>
<br />


<div class="container">
    <div class="card shadow-lg mb-5 p-2 mb-6">
        <div class="row g-0">
            <div class="col-md">
                <div class="iframe-rwd">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3847.15845924152!2d75.12062809999999!3d15.367902199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb8d2a06dbffbcf%3A0x3e7fd108d2072782!2sCore%20Technologies!5e0!3m2!1sen!2sin!4v1674100277758!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card-body border border-1 ms-2 h-100">
                    <h5 class="card-title h3 fw-bold">Contact Us</h5>
                    <div class="mb-1 m-0 p-0" style="height:2px;background-color:#ee6c4d;"></div>
                    <p class="card-text mb-5">
                        <h5 class="m-0 p-0 mt-4">Mobile</h5>
                        +91 97429 86424<br /><br />
                        <h5 class="m-0 p-0">Email</h5>
                        Coretechnology1991@gamil.com<br /><br />
                        <h5 class="p-0 m-0">Mon - Sat</h5>
                        10:00 AM To 8:15 PM
                    </p>
                </div>
            </div>
        </div>
    </div>
    @* <div class="row">
    <div class="col-md m-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3847.15845924152!2d75.12062809999999!3d15.367902199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb8d2a06dbffbcf%3A0x3e7fd108d2072782!2sCore%20Technologies!5e0!3m2!1sen!2sin!4v1673860788305!5m2!1sen!2sin" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md m-5 ">
    <h5 class="m-0 p-0 mt-5">Mobile</h5>
    +91 97429 86424<br /><br />
    <h5 class="m-0 p-0">Email</h5>
    Coretechnology1991@gamil.com<br /><br />
    <h5 class="p-0 m-0">All Days</h5>
    9:15 AM To 6:15 PM
    </div>
    </div>*@
</div>